<div id="tetris">
    <div id="main">
      <canvas id="canvas">
        Sorry, this app cannot be run because your browser does not support the &lt;canvas&gt; element
      </canvas>
    </div>
    <div id="side">
      <canvas id="player2">
        Sorry, this app cannot be run because your browser does not support the &lt;canvas&gt; element
      </canvas>

      <div id="menu">
        <div><canvas id="upcoming"></canvas></div>
        <div id="start"><a href="javascript:play();">Press space to start.</a></div>
        <div>score <span id="score">00000</span></div>
        <div>rows <span id="rows">0</span></div>
        <div>ammo <span id="ammo"></span></div>
      </div>
    </div>
</div>
